/*.header--mobile-center.page-width.drawer-menu {*/
.page-width.drawer-menu {
  max-width: var(--page-width);
}

@keyframes show-opacity {
  from { opacity: 0; }
}

#drop-menu.drop-menu-hidden {
  height: 0px;
  transition: height 200ms ease-in;
  position: relative;
}

#drop-menu {
  height: 42px;
  transition: height 200ms ease-in;
}

#drop-menu.drop-menu-hidden ul > li {
  z-index: -1; 
  opacity: 0;
}

#drop-menu ul > li {
  z-index: inherit; 
  opacity: 1;
}

#drop-menu:not(.drop-menu-hidden) ul > li {
  animation: show-opacity 750ms;  
}

#drop-menu:not(.drop-menu-hidden) ul > li li{ /* in to speed up animation on second level dropdowns which don't really need the fade in.. */
  animation: show-opacity 300ms;  
}

#drop-menu.scrolled {
  top: 84px;
  position: absolute;
  background: var(--gradient-background);
  width: 100%;
  display: grid;
  justify-content: center;
}

#drop-menu-ul {
  /* display: none; */
  /* opacity: 0; */
  /* transition: opacity 200ms ease-in; */ 
}

/* base.css 596 */
@media screen and (max-width: 749px) {
  .small-hide {
    display: inline-flex !important;
  }
}

/* base.css 2455 */
@media screen and (min-width: 990px) {
  .header:not(.header--middle-left, .header--middle-center) .header__inline-menu {
    margin-top: 0;
  }
}

/* base.css 2494*/
@media screen and (max-width: 749px) {
  .header__heading-logo {
    height: auto;
    max-width: 90%;
  }
}

/* base.css 2640 */
.header--top-center > .top-left-header-icons .header__search {
  display: inline-flex;
}

/* base.css 2644 */
.header--top-center * > .header__search {
  display: none;
}

.top-left-header-icons {
  display: inline-flex;
/*  grid-area: left-icon-start;
  margin-top: -20px;*/
}